/assets
/node_modules
/public/hot
/public/storage
/public/static/css
/public/static/js
/public/static/fonts
/public/mix-manifest.json
/public/worker.js
/storage/*.key
/vendor
/.idea
.DS_Store
.env
.env.backup
.phpunit.result.cache
composer.lock
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
package-lock.json
yarn-error.log
