$font-path: "/webfonts";

@function font($path) {
    @return url(#{$font-path}/#{$path});
}

@font-face {
    font-family: "Open Sans";
    src: font("OpenSans-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: font("OpenSans-SemiBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: font("Poppins-SemiBoldItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Unisans";
    src: font("Uni-Sans-Thin.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Unisans";
    src: font("Uni-Sans-Heavy.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Quicksand";
    src: font("Quicksand-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
