p {
    margin: 0;
}

.t-centered {
    text-align: center;
}

.t-125 {
    font-size: 1.25em;
}

.t-150 {
    font-size: 1.5em;
}

.t-175 {
    font-size: 1.75em;
}

.t-200 {
    font-size: 2em;
}

.t-225 {
    font-size: 2.25em;
}

.t-250 {
    font-size: 2.5em;
}

.t-300 {
    font-size: 3em;
}

.t-350 {
    font-size: 3.5em;
}

.t-400 {
    font-size: 4em;
}

.t-bold {
    font-weight: bold;
}

p.with-margin {
    margin: 1em 0;
}

.c-error {
    color: $c-bad;
}

.c-success {
    color: $c-good;
}

.c-white {
    color: $c-txt-white;
}

.c-grey {
    color: $c-txt-grey;
}

.c-purple {
    color: $c-txt-purple;
}
