@use '../includes/theming';

.ta\:logo {
    display: table;
    font-family: 'Quicksand', sans-serif;

    @include theming.themed() {
        color: theming.t(theming.$glyph-primary);
    }

    p {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        width: 100%;
        margin: 0;
        line-height: 100%;
    }
}
