html, body {
    background-color: $c-bg-dim;
}

#app {
    height: 100%;
    width: 100%;
}

.logo-container {
    margin-top: auto;
    height: 150px;
    line-height: 150px;
}

.logo {
    font-size: 3em;
}

.center-box-container {
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.center-box {
    background-color: $c-bg-dimmer;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.25);
    -moz-box-shadow: 0 0 3px 0 rgba(0,0,0,0.25);
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.25);
    padding: 0 50px 50px 50px;
    min-width: 350px;
    margin: 0 15px auto 15px;
}

.center-box h1 {
    margin: 50px 0;
    font-weight: normal;
}

.form-group {
    margin: 30px 0;
}

.form-group label {
    display: block;
    font-weight: bold;
    font-size: 0.95em;
    font-variant: small-caps;
}

.form-group input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid $c-grey;
    padding: 10px;
}

.form-group input.is-invalid {
    border-color: $c-bad;
}

.form-group .invalid-form-input-feedback {
    color: $c-bad;
}

.button {
    width: 100%;
    padding: 15px;
    font-variant: small-caps;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
    cursor: pointer;
}

.button-blue {
    background-color: $c-blue;
    color: white;
}

.button-blue:hover {
    background-color: darken($c-blue, 10%);
}

.alternatives {
    font-size: 0.8em;
}

.alternatives a {
    text-decoration: none;
    display: block;
}

@media screen and (max-width: 500px) {
    html, body {
        background-color: $c-bg-dimmer;
    }

    .center-box {
        border-radius: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        width: 100%;
        min-width: 100%;
        padding: 0 25px 25px 25px;
    }

    .alternatives {
        font-size: 1em;
    }

    .alternatives a {
        margin: 5px 0;
    }
}
