.card {
    background: white;
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    max-width: 900px;

    h1 {
        margin: 0;
        font-weight: normal;
        font-size: 1.5em;
    }

    h2 {
        color: lighten($c-txt-black, 35%);
        font-size: 1.2em;
        margin: 0;
        font-weight: normal;

        a {
            color: inherit;
        }
    }

    .header,
    .content {
        padding: 15px;
    }

    .header {
        background-color: whitesmoke;
        border-bottom: 1px solid #cccccc;
        position: relative;
    }
}
