// This component contains styles for the frontpage header

$frontheader-height: 60px;

header {
    width: 100%;
    height: $frontheader-height;
    display: flex;
    align-items: center;
    padding: 12px 24px;
    box-sizing: border-box;
    position: fixed;
    border-bottom: 1px solid #eeeeee;
    background-color: white;

    .logo {
        font-size: 1.5em;
        box-sizing: border-box;
    }

    .login {
        margin-left: auto;

        a {
            font-weight: bold;
            transition: all 0.3s ease 0s;
            color: rgb(0, 119, 255);

            &:hover {
                text-decoration: none;
                color: $c-blue;
            }
        }
    }
}
