.logo {
    font-family: 'Quicksand', sans-serif;
    color: inherit;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    a {
        color: inherit;
        text-decoration: inherit;
    }
}
