$sidebar-width: 275px;
$mobile-menu-bar-height: 50px;

#sidebar {
    height: 100%;
    position: fixed;
    z-index: 999;
    width: $sidebar-width;
    background-color: $c-blue;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    color: $c-txt-white;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    .logo {
        text-align: center;
        width: 100%;
        margin: 20px 0;
        font-size: 2.5em;
    }

    .welcome {
        text-align: center;
        font-size: 1em;
        margin: 25px 0;
    }

    hr {
        border: none;
        height: 1px;
        background-color: $c-txt-white;
        width: 80%;
        margin: 0 auto;
    }

    .menu {
        margin: 25px 10% 25px 10%;

        .item {
            color: $c-txt-white;
            text-decoration: none;
            display: block;
            margin-bottom: 15px;
        }

        a.active {
            font-weight: bold;
        }

        a:hover {
            color: darken($c-txt-white, 15%);
        }

        .item {
            .icon {
                font-size: 1.2em;
                vertical-align: middle;
                display: inline-block;
                font-variant: small-caps;
                font-weight: bold;
                text-align: center;
                width: 20px;
                margin-right: 10px;
            }

            .text {
                font-size: 0.8em;
                line-height: 2em;
            }
        }
    }

    #mobile-menu-close {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 1.5em;
        display: none;
        cursor: pointer;
    }

    #logout-form {
        display: none;
    }
}

#mobile-menu-bar {
    box-sizing: border-box;
    padding: 0 10px 0 15px;
    border-bottom: 1px solid darken($c-bg-dimmer, 30%);
    color: darken($c-bg-dimmer, 30%);
    font-size: 1.33em;
    display: none;
    height: $mobile-menu-bar-height;
    line-height: $mobile-menu-bar-height;

    .logo {
        margin-left: 10px;
    }

    #mobile-menu-open {
        cursor: pointer;
    }

    #mobile-menu-reload {
        float: right;
        line-height: $mobile-menu-bar-height;
        margin-right: 5px;
        transition: transform 0.8s;
        cursor: pointer;
    }
}

#main {
    margin-left: $sidebar-width;

    .error,
    .success {
        padding: 14px;
        color: white;
        font-size: 1em;
        font-weight: bold;
    }

    .success {
        background-color: #4bb543;
    }

    .error {
        background-color: #ff0033;
    }
}

@media screen and (max-width: 800px) {
    #mobile-menu-bar {
        display: block;
    }

    #sidebar {
        margin-left: -100%;
        width: 100%;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        font-size: 1.25em;

        #mobile-menu-close {
            display: block;
        }
    }

    #app {
        height: calc(100% - #{$mobile-menu-bar-height}) !important;
    }

    #main {
        margin-left: 0;
    }
}
