#join-link {
    width: 100%;
    display: block;
    max-width: 600px;
    margin: 0 auto;
    box-sizing: border-box;
}

#join-link-buttons {
    width: 100%;
    display: table;

    .join-link-button {
        display: table-row;

        span {
            display: table-cell;
            text-align: center;
            width: 10%;
            min-width: 55px;
            font-size: 1.25em;
            cursor: pointer;
            vertical-align: middle;
        }

        button {
            display: table-cell;
            border: none;
            border-top: 1px solid #cccccc;
            width: 100%;
            background-color: inherit;
            text-align: left;
            font-size: 1.2em;
            height: 65px;
            padding: 0;
            cursor: pointer;
        }

        &:first-child button {
            border: none;
        }

        &:hover {
            background-color: whitesmoke;
            text-decoration: none;
        }
    }
}
