$c-blue: #122539;
$c-grey: #bbbbbb;

$c-bg-page: #ffffff;
$c-bg-dim: darken($c-bg-page, 2.5%);
$c-bg-dimmer: darken($c-bg-page, 7.5%);
$c-bg-dimmest: darken($c-bg-page, 15%);

$c-txt-black: #050505;
$c-txt-grey: #5c5c5c;
$c-txt-white: #ffffff;
$c-txt-purple: #4B0082;

$c-bad: #D8000C;
$c-good: #4F8A10;
$c-neutral: #9F6000;

@import "layout/base";

@import "base/elements";
@import "base/flex";
@import "base/fonts";
@import "base/typography";
@import "base/util";

@import "component/activity-overview";
@import "component/card";
@import "component/form";
@import "component/logo";
@import "component/sidebar";
@import "component/frontheader";
