$wrapper-width: 1200px;

body {
    overflow-x: hidden;
}

.wrapper {
    width: $wrapper-width;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
    margin: 0 auto;
}

#content {
    padding-top: $frontheader-height;
}

section {
    display: flex;
    width: 100%;
    height: calc(100vh - #{$frontheader-height});
    box-sizing: border-box;
    padding: 50px;
    overflow: hidden;

    &.dark {
        background-color: rgb(20, 20, 20);
        color: white;
    }

    .left, .right {
        width: 50%;
        margin: auto 0;
    }

    .left {
        padding-right: 15px;

        h1 {
            font-size: 3em;
            font-weight: bold;
            margin: 0;
        }

        p {
            color: #eeeeee;
            margin-top: 15px;
            font-size: 1.33em;
        }
    }

    .right {
        padding-left: 15px;
        margin-left: auto;
    }
}

footer {
    box-sizing: border-box;
    padding: 50px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        color: white;

        &:hover {
            color: #eeeeee;
        }
    }
}

@media screen and (max-width: $wrapper-width) {
    .wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .section {
        .right {
            display: none;
        }

        .left {
            width: 100%;
        }
    }
}
